html, body {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
}

body {
    /*background: url("../img/bg-brick-tile.jpg");*/
    background: #e6e6e6;
}

h1, h2, h3, h4, h5, p {
    font-family: 'Oxygen', sans-serif;
}

/**HEADER**/

.top-bar ul li h1 {
    font-size: 22px !important;
}

.top-bar ul li a {
    -moz-transition: background-color ease-in-out .2s;
    -o-transition: background-color ease-in-out .2s;
    -webkit-transition: background-color ease-in-out .2s;
    transition: background-color ease-in-out .2s;
    text-shadow: 1px 1px 1px #000;
}

    .top-bar ul li a:hover {
        background-color: #A30100 !important;
    }

.top-bar-wrapper {
    background: #333;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.padding0 {
    padding: 0;
}

.logo {
    background: #fff;
    max-width: 100%;
    padding: 20px 0 10px 0;
}

.push-top-bar {
    padding-top: 40px;
}

.push-top-bar2 {
    padding-top: 65px;
}

.tel-contact {
    color: #E3DFB5;
    text-shadow: 1px 1px 1px #000;
    font-weight: bold;
    margin-right: 10px;
}

/**BODY**/
.panel img {
    border: 5px #E3DFB5 solid;
}

.panel h4 {
    font-weight: bold;
}

.panel h6 {
    margin-top: 0;
    border: 5px #e3dfb5 solid;
    background: #D2D1C2;
    text-shadow: 1px 1px 0 #fff;
    font-weight: bold;
    padding: 10px;
    font-size: 22px;
}

.imgs1 div:nth-child(odd) img {
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

.imgs1 div:nth-child(even) img {
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
}

.imgs2 div:nth-child(even) img {
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

.imgs2 div:nth-child(odd) img {
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
}

.imgs1 div:nth-child(odd) h6 {
    -moz-transform: rotate(2deg) scale(0.9) translateY(-30px);
    -ms-transform: rotate(2deg) scale(0.9) translateY(-30px);
    -o-transform: rotate(2deg) scale(0.9) translateY(-30px);
    -webkit-transform: rotate(2deg) scale(0.9) translateY(-30px);
    transform: rotate(2deg) scale(0.9) translateY(-30px);
}

.imgs1 div:nth-child(even) h6 {
    -moz-transform: rotate(-2deg) scale(0.9) translateY(-30px);
    -ms-transform: rotate(-2deg) scale(0.9) translateY(-30px);
    -o-transform: rotate(-2deg) scale(0.9) translateY(-30px);
    -webkit-transform: rotate(-2deg) scale(0.9) translateY(-30px);
    transform: rotate(-2deg) scale(0.9) translateY(-30px);
}

.imgs2 div:nth-child(even) h6 {
    -moz-transform: rotate(2deg) scale(0.9) translateY(-30px);
    -ms-transform: rotate(2deg) scale(0.9) translateY(-30px);
    -o-transform: rotate(2deg) scale(0.9) translateY(-30px);
    -webkit-transform: rotate(2deg) scale(0.9) translateY(-30px);
    transform: rotate(2deg) scale(0.9) translateY(-30px);
}

.imgs2 div:nth-child(odd) h6 {
    -moz-transform: rotate(-2deg) scale(0.9) translateY(-30px);
    -ms-transform: rotate(-2deg) scale(0.9) translateY(-30px);
    -o-transform: rotate(-2deg) scale(0.9) translateY(-30px);
    -webkit-transform: rotate(-2deg) scale(0.9) translateY(-30px);
    transform: rotate(-2deg) scale(0.9) translateY(-30px);
}

.push-bot-10 {
    padding-bottom: 10px;
}

.content-wrapper {
    background: #fff;
}

    .content-wrapper > .row {
        background: rgba(0,0,0,0.1);
    }

        .content-wrapper > .row:first-child {
            padding-top: 50px;
        }

        .content-wrapper > .row:last-child {
            padding-bottom: 50px;
        }

/**SWIPER STZYLES**/

.swiper-container {
    width: 100%;
    height: auto;
    max-height: 370px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: baseline;
    height: auto;
}

.swiper-wrapper {
    height: auto;
}

.swiper-pagination-bullet-active {
    background: #A30100;
}

#kontakt h5 {
    font-weight: bold;
    font-size: 24px;
}

#kontakt span {
    font-size: 20px;
}

#kontakt iframe {
    width: 100%;
}


#onama h4 {
    font-size: 32px;
    font-weight: bold;
}

#onama p {
    font-size: 22px;
}

/** FOOTER **/

.footer {
    /*height: 100px;*/
}

.subfooter p {
    color: #fff;
    font-size: 1.2rem;
    margin: 0;
    text-shadow: 2px 2px 2px #000;
}

.subfooter {
    background: #333;
    padding: 10px;
    width: auto;
    text-align: center;
}


/** FOUNDATION OVERRIDE **/
.reveal-modal{
    max-width: 35.5rem;
}